<div class="global-a-posi fcb"><a title="{{post_title}}" aria-label="{{post_title}}" href="{{p_link}}"
                                  data-href="{{trv_img}}">&nbsp;</a>
    <div class="cf">
        <div class="lf f30 posts-list-left fullsize-if-mobile">
            <div data-size="{{cf_posts_size}}" data-img="{{image}}" data-large-img="{{image_medium_large}}"
                 data-webp="{{image_webp}}" class="ti-le-global posts-list-avt each-to-bgimg">&nbsp;
            </div>
        </div>
        <div class="lf f70 posts-list-right fullsize-if-mobile">
            <div class="posts-list-title limit-text-2">
                <{{dynamic_title_tag}} itemprop="headline">{{post_title}}
            </
            {{dynamic_title_tag}}>
        </div>
        <div class="posts-list-info">
            <div class="posts-list-time cf">
                <div class="lf">{{user_nicename}}</div>
                <div class="lf"><i class="fa fa-eye"></i> {{post_viewed}}</div>
            </div>
            <div class="posts-list-desc limit-text-5" itemprop="description">{{post_excerpt}}</div>
        </div>
    </div>
</div>
</div>