@media (max-width: 369.98px) {
    .home__category {
        text-align: center;
    }
    .home__category .top .title__company {
        font-size: 22px;
        color: #ffff00;
        font-weight: 600;
        text-transform: none;
    }
    .home__category .top .text {
        font-size: 13px;
        color: #bfbfbf;
        line-height: 1.4em;
    }
    .home__category .bottom {
        margin: 40px 0 20px;
    }
    .home__category .bottom .item {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home__category .bottom .circle {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background: linear-gradient(0deg,#ffff00,#b372bd);
        border: 2px solid var(--bg-color);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-out;
    }
    .home__category .bottom .circle i{
        font-size: 35px;
        color: #000080;
    }
    .home__category .bottom .item a:hover {
        text-decoration: none;
    }
    .home__category .bottom .item a:hover .circle {
        background: linear-gradient(0deg,#bca3f5,#c797ce);
        transform: translateY(-10px)  translateZ(0);
        box-shadow: 0 14px 26px #ffff00;
    }
    .home__category .bottom .item a:hover .circle i{
        color: #ccccff;
    }
    .home__category .bottom .pElement {
        text-transform: uppercase;
        font-size: 13px;
        color: #ffffff;
        margin-bottom: 30px;
        margin-top: 16px;
        transition: color 0.3s ease-out;
        display: block;
    }
    .home__slider {
        position: relative;
        padding: 55px 0;
        background-color: rgb(24 39 63/1);
    }

    .home__slider .title {
        margin-bottom: 20px;
        text-align: center;
        font-size: 25px;
        color: #fff;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
    }

    .home__slider .introduce {
        text-align: center;
        font-size: 15px;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 25px;
    }

    .home__slider .active__center .card-body .card-name {
        /*padding-bottom: 30px;*/
        /*font-size: 15px;*/
    }
    .home__slider .card-body .card-name {
        font-size: 14px;
    }

    .home__slider .item:after {
        content: '';
        position: absolute;
        left: 47%;
        bottom: -12px;
        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 13px solid #fff;
        clear: both;
    }
    .home__slider .content__slider .item {
        position: relative;
    }
    .home__slider .content__slider .item img {
        position: absolute;
        left: 38%;
        bottom: -105px;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        object-fit: cover;
    }

    .home__slider .owl-carousel .owl-stage-outer {
        padding-bottom: 120px;
    }

    /*card in slidee*/
    .home__slider .content__slider .card-body .card-title {
        font-size: 16px;
        color: #1F1F20;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        padding-top: 8px;
    }

    .home__slider .content__slider .card-body .card-text {
        font-size: 15px;
        color: #1F1F20;
        font-family: 'Open Sans', sans-serif;
    }

    .home__slider .content__slider .card-body .card-name span {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        /*font-size: 16px;font-size: 16px;*/
    }
    img.lazyloaded_cusomer_review {
        display: none;
    }

}

@media (min-width: 370px) and (max-width: 575.98px) {
    .home__category {
        text-align: center;
    }
    .home__category .top .title__company {
        font-size: 22px;
        color: #ffff00;
        font-weight: 600;
        text-transform: none;
    }
    .home__category .top .text {
        font-size: 13px;
        color: #bfbfbf;
        line-height: 1.4em;
    }
    .home__category .bottom {
        margin: 40px 0 20px;
    }
    .home__category .bottom .item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home__category .bottom .circle {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: linear-gradient(0deg,#ffff00,#b372bd);
        border: 2px solid var(--bg-color);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-out;
    }
    .home__category .bottom .circle i{
        font-size: 40px;
        color: #000080;
    }
    .home__category .bottom .item a:hover {
        text-decoration: none;
    }
    .home__category .bottom .item a:hover .circle {
        background: linear-gradient(0deg,#bca3f5,#c797ce);
        transform: translateY(-10px)  translateZ(0);
        box-shadow: 0 14px 26px #ffff00;
    }
    .home__category .bottom .item a:hover .circle i{
        color: #ccccff;
    }
    .home__category .bottom .pElement {
        text-transform: uppercase;
        font-size: 14px;
        color: #ffffff;
        margin-bottom: 30px;
        margin-top: 16px;
        transition: color 0.3s ease-out;
        display: block;
    }
    /*slider*/
    .home__slider {
        position: relative;
        padding: 55px 0;
        background-color: rgb(24 39 63/1);
    }

    .home__slider .title {
        margin-bottom: 20px;
        text-align: center;
        font-size: 25px;
        color: #fff;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
    }

    .home__slider .introduce {
        text-align: center;
        font-size: 15px;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 25px;
    }

    .home__slider .active__center .card-body .card-name {
        /*padding-bottom: 30px;*/
        /*font-size: 15px;*/
    }
    .home__slider .card-body .card-name {
        font-size: 14px;
    }

    .home__slider .item:after {
        content: '';
        position: absolute;
        left: 47%;
        bottom: -12px;
        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 13px solid #fff;
        clear: both;
    }
    .home__slider .content__slider .item {
        position: relative;
    }
    .home__slider .content__slider .item img {
        position: absolute;
        left: 41%;
        bottom: -105px;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        object-fit: cover;
    }

    .home__slider .owl-carousel .owl-stage-outer {
        padding-bottom: 120px;
    }

    /*card in slidee*/
    .home__slider .content__slider .card-body .card-title {
        font-size: 16px;
        color: #1F1F20;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        padding-top: 8px;
    }

    .home__slider .content__slider .card-body .card-text {
        font-size: 15px;
        color: #1F1F20;
        font-family: 'Open Sans', sans-serif;
    }

    .home__slider .content__slider .card-body .card-name span {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        /*font-size: 16px;font-size: 16px;*/
    }
    img.lazyloaded_cusomer_review {
       display: none;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .home__category {
        text-align: center;
    }
    .home__category .top .title__company {
        font-size: 22px;
        color: #ffff00;
        font-weight: 600;
        text-transform: none;
    }
    .home__category .top .text {
        font-size: 13px;
        color: #bfbfbf;
        line-height: 1.4em;
    }
    .home__category .bottom {
        margin: 40px 0 20px;
    }
    .home__category .bottom .item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home__category .bottom .circle {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: linear-gradient(0deg,#ffff00,#b372bd);
        border: 2px solid var(--bg-color);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-out;
    }
    .home__category .bottom .circle i{
        font-size: 40px;
        color: #000080;
    }
    .home__category .bottom .item a:hover {
        text-decoration: none;
    }
    .home__category .bottom .item a:hover .circle {
        background: linear-gradient(0deg,#bca3f5,#c797ce);
        transform: translateY(-10px)  translateZ(0);
        box-shadow: 0 14px 26px #ffff00;
    }
    .home__category .bottom .item a:hover .circle i{
        color: #ccccff;
    }
    .home__category .bottom .pElement {
        text-transform: uppercase;
        font-size: 12px;
        color: #ffffff;
        margin-bottom: 30px;
        margin-top: 16px;
        transition: color 0.3s ease-out;
        display: block;
    }
    /*slider*/
    .home__slider {
        position: relative;
        padding: 55px 0;
        background-color: rgb(24 39 63/1);
    }

    .home__slider .title {
        margin-bottom: 25px;
        text-align: center;
        font-size: 30px;
        color: #fff;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
    }

    .home__slider .introduce {
        text-align: center;
        font-size: 17px;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 30px;
    }

    .home__slider .active__center .card-body .card-name {
        /*padding-bottom: 30px;*/
        /*font-size: 15px;*/
    }
    .home__slider .card-body .card-name {
        font-size: 14px;
    }

    .home__slider .item:after {
        content: '';
        position: absolute;
        left: 47%;
        bottom: -12px;
        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 13px solid #fff;
        clear: both;
    }
    .home__slider .content__slider .item {
        position: relative;
    }
    .home__slider .content__slider .item img {
        position: absolute;
        left: 37%;
        bottom: -105px;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        object-fit: cover;
    }

    .home__slider .owl-carousel .owl-stage-outer {
        padding-bottom: 120px;
    }

    /*card in slidee*/
    .home__slider .content__slider .card-body .card-title {
        font-size: 16px;
        color: #1F1F20;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        padding-top: 8px;
    }

    .home__slider .content__slider .card-body .card-text {
        min-height: 112px;
        font-size: 15px;
        color: #1F1F20;
        font-family: 'Open Sans', sans-serif;
    }

    .home__slider .content__slider .card-body .card-name span {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        /*font-size: 16px;font-size: 16px;*/
    }
    img.lazyloaded_cusomer_review {
        display: none;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .home__category {
        text-align: center;
    }
    .home__category .top .title__company {
        font-size: 22px;
        color: #ffff00;
        font-weight: 600;
        text-transform: none;
    }
    .home__category .top .text {
        font-size: 13px;
        color: #bfbfbf;
        line-height: 1.4em;
    }
    .home__category .bottom {
        margin: 40px 0 20px;
    }
    .home__category .bottom .item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home__category .bottom .circle {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: linear-gradient(0deg,#ffff00,#b372bd);
        border: 2px solid var(--bg-color);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-out;
    }
    .home__category .bottom .circle i{
        font-size: 40px;
        color: #000080;
    }
    .home__category .bottom .item a:hover {
        text-decoration: none;
    }
    .home__category .bottom .item a:hover .circle {
        background: linear-gradient(0deg,#bca3f5,#c797ce);
        transform: translateY(-10px)  translateZ(0);
        box-shadow: 0 14px 26px #ffff00;
    }
    .home__category .bottom .item a:hover .circle i{
        color: #ccccff;
    }
    .home__category .bottom .pElement {
        text-transform: uppercase;
        font-size: 12px;
        color: #ffffff;
        margin-bottom: 30px;
        margin-top: 16px;
        transition: color 0.3s ease-out;
        display: block;
    }
    /*slider*/
    .home__slider {
        position: relative;
        padding: 55px 0;
        background-color: rgb(24 39 63/1);
    }

    .home__slider .title {
        margin-bottom: 25px;
        text-align: center;
        font-size: 30px;
        color: #fff;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
    }

    .home__slider .introduce {
        text-align: center;
        font-size: 17px;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 30px;
    }

    .home__slider .active__center .card-body .card-name {
        /*padding-bottom: 30px;*/
        /*font-size: 15px;*/
    }
    .home__slider .card-body .card-name {
        font-size: 15px;
    }

    .home__slider .item:after {
        content: '';
        position: absolute;
        left: 47%;
        bottom: -12px;
        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 13px solid #fff;
        clear: both;
    }
    .home__slider .content__slider .item {
        position: relative;
    }
    .home__slider .content__slider .item img {
        position: absolute;
        left: 39%;
        bottom: -105px;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        object-fit: cover;
    }

    .home__slider .owl-carousel .owl-stage-outer {
        padding-bottom: 120px;
    }

    /*card in slidee*/
    .home__slider .content__slider .card-body .card-title {
        font-size: 16px;
        color: #1F1F20;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        padding-top: 8px;
    }

    .home__slider .content__slider .card-body .card-text {
        min-height: 112px;
        font-size: 15px;
        color: #1F1F20;
        font-family: 'Open Sans', sans-serif;
    }

    .home__slider .content__slider .card-body .card-name span {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }
    img.lazyloaded_cusomer_review {
        display: none;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .home__category {
        text-align: center;
    }
    .home__category .top .title__company {
        font-size: 24px;
        color: #ffff00;
        font-weight: 600;
        text-transform: none;
    }
    .home__category .top .text {
        font-size: 14px;
        color: #bfbfbf;
        line-height: 1.4em;
    }
    .home__category .bottom {
        margin: 40px 90px 20px;
    }
    .home__category .bottom .item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home__category .bottom .circle {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: linear-gradient(0deg,#ffff00,#b372bd);
        border: 2px solid var(--bg-color);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-out;
    }
    .home__category .bottom .circle i{
        font-size: 50px;
        color: #000080;
    }
    .home__category .bottom .item a:hover {
        text-decoration: none;
    }
    .home__category .bottom .item a:hover .circle {
        background: linear-gradient(0deg,#bca3f5,#c797ce);
        transform: translateY(-10px)  translateZ(0);
        box-shadow: 0 14px 26px #ffff00;
    }
    .home__category .bottom .item a:hover .circle i{
        color: #ccccff;
    }
    .home__category .bottom .pElement {
        text-transform: uppercase;
        font-size: 14px;
        color: #ffffff;
        margin-bottom: 30px;
        margin-top: 16px;
        transition: color 0.3s ease-out;
        display: block;
    }
    /*slider*/
    .home__slider {
        position: relative;
        padding: 55px 0;
        background-color: rgb(24 39 63/1);
    }

    .home__slider .title {
        margin-bottom: 25px;
        text-align: center;
        font-size: 30px;
        color: #fff;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
    }

    .home__slider .introduce {
        text-align: center;
        font-size: 17px;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 30px;
    }

    .home__slider .active__center .card-body .card-name {
        padding-bottom: 30px;
    }
    .home__slider .card-body .card-name {
        font-size: 15px;
    }
    .home__slider .item:after {
        content: '';
        position: absolute;
        left: 46%;
        bottom: -12px;
        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 13px solid #fff;
        clear: both;
    }
    .home__slider .content__slider .item {
        position: relative;
    }
    .home__slider .content__slider .item img {
        position: absolute;
        left: 37%;
        bottom: -105px;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        object-fit: cover;
    }

    .home__slider .owl-carousel .owl-stage-outer {
        padding-bottom: 120px;
    }

    /*card in slidee*/
    .home__slider .content__slider .card-body .card-title {
        font-size: 16px;
        color: #1F1F20;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        padding-top: 8px;
    }

    .home__slider .content__slider .card-body .card-text {
        min-height: 112px;
        font-size: 15px;
        color: #1F1F20;
        font-family: 'Open Sans', sans-serif;
    }

    .home__slider .content__slider .card-body .card-name span {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        /*font-size: 16px;font-size: 16px;*/
    }
    img.lazyloaded_cusomer_review {
        display: none;
    }
}

/*pc*/
@media (min-width: 1200px) {
    .home__category {
        text-align: center;
    }
    .home__category .top .title__company {
        font-size: 30px;
        color: #ffff00;
        font-weight: 600;
        text-transform: none;
    }
    /*.home__category .top .text {*/
    /*   */
    /*}*/
    .home__category .bottom {
        margin: 40px 120px;
    }
    .home__category .bottom .item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home__category .bottom .circle {
        width: 176px;
        height: 176px;
        border-radius: 50%;
        background: linear-gradient(0deg,#ffff00,#b372bd);
        /*border: 2px solid var(--mainColor);*/
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-out;
    }
    .home__category .bottom .circle i{
        font-size: 60px;
        color: #000080;
    }
    .home__category .bottom .item a:hover {
        text-decoration: none;
    }
    .home__category .bottom .item a:hover .circle {
        background: linear-gradient(0deg,#bca3f5,#c797ce);
        transform: translateY(-10px)  translateZ(0);
        box-shadow: 0 14px 26px #ffff00;
    }
    .home__category .bottom .item a:hover .circle i{
        color: #ccccff;
    }
    .home__category .bottom .pElement {
        text-transform: uppercase;
        font-size: 15px;
        color: #ffffff;
        margin-bottom: 30px;
        margin-top: 16px;
        transition: color 0.3s ease-out;
        display: block;
    }
    /*slider*/
    .home__slider {
        position: relative;
        padding: 55px 0;
        background-color: rgb(24 39 63/1);
    }

    .home__slider .title {
        margin-bottom: 40px;
        text-align: center;
        font-size: 40px;
        color: #fff;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
    }

    .home__slider .introduce {
        text-align: center;
        font-size: 16px;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 40px;
    }

    .home__slider .active__center .card-body .card-name {
        padding-bottom: 30px;
    }

    .home__slider .item:after {
        content: '';
        position: absolute;
        left: 46%;
        bottom: -12px;
        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-top: 13px solid #fff;
        clear: both;
    }
    .home__slider .content__slider .item {
        position: relative;
    }
    .home__slider .content__slider .item img {
        position: absolute;
        left: 38%;
        bottom: -105px;
        width: 82px;
        height: 82px;
        border-radius: 50%;
        object-fit: cover;
    }

    .home__slider .owl-carousel .owl-stage-outer {
        padding-bottom: 125px;
    }

    /*card in slidee*/
    .home__slider .content__slider .card-body .card-title {
        font-size: 16px;
        color: #1F1F20;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        padding-top: 8px;
    }

    .home__slider .content__slider .card-body .card-text {
        min-height: 120px;
        font-size: 14px;
        color: #1F1F20;
        font-family: 'Open Sans', sans-serif;
    }

    .home__slider .content__slider .card-body .card-name {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 14px;
    }
    .home__slider .content__slider .card-body .card-name span {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }
    img.lazyloaded_cusomer_review {
        opacity: 0.1;
        transition: opacity .5s ease;
        left: 100px;
        height: 600px;
        position: absolute;
        top: -100px;
    }
}
