/* Global css (posts_node) */
.posts-list {
    margin: 0 -14px;
}

.posts-list-padding {
    margin: 14px !important;
}

.posts-list-padding:hover {}

.posts-list-avt {
    background: center no-repeat;
    background-size: auto 100%;
    height: 220px;
    background-size: cover;
    position: relative;
}

.posts-list-title *{
    font-size: 15px;
    font-weight: 700;
}
.posts-home-top .posts-list-title *{
    font-size: 20px;
    padding-top: 20px;
}

.posts-list-title,
.posts-list-info {
    padding-left: 20px;
}
.posts-list.anhtren_chuduoi {}

.posts-list.anhtren_chuduoi .posts-list-left,
.posts-list.anhtren_chuduoi .posts-list-right {
    float: none;
    width: auto;
}

.posts-list.anhtren_chuduoi .posts-list-left {}

.posts-list.anhtren_chuduoi .posts-list-right {
    padding-top: 10px;
}

.posts-list.anhtren_chuduoi .posts-list-title,
.posts-list.anhtren_chuduoi .posts-list-info {
    padding-left: 0;
}

.posts-list-more {
    display: none;
}

.posts-list-time {
    padding: 5px 0;
    font-size: 13px;
}

.posts-list-time div {
    margin-right: 15px;
}