/* Global css (posts_node) */
.posts-list {
    margin: 0 -14px;
}

.posts-list-padding {
    margin: 14px !important;
}

.posts-list-padding:hover {}

.posts-list-avt {
    background: center no-repeat;
    background-size: auto 100%;
    height: 220px;
    background-size: cover;
    position: relative;
}

.posts-list-title *{
    font-size: 15px;
    font-weight: 600;
    line-height: 1.47059;
}
.posts-home-top .posts-list-title *{
    font-size: 20px;
    padding-top: 20px;
}

.posts-list-title,
.posts-list-info {
    padding-left: 20px;
}
.posts-list.anhtren_chuduoi {}

.posts-list.anhtren_chuduoi .posts-list-left,
.posts-list.anhtren_chuduoi .posts-list-right {
    float: none;
    width: auto;
}

.posts-list.anhtren_chuduoi .posts-list-left {}

.posts-list.anhtren_chuduoi .posts-list-right {
    padding-top: 10px;
}

.posts-list.anhtren_chuduoi .posts-list-title,
.posts-list.anhtren_chuduoi .posts-list-info {
    padding-left: 0;
}

.posts-list-more {
    display: none;
}

.posts-list-time {
    padding: 5px 0;
    font-size: 13px;
}

.posts-list-time div {
    margin-right: 15px;
}
.article__content .btn-seemore {
    color: var(--mainColor);
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    width: 114px;
}
.blog__child {
    position: relative;
    overflow: hidden;
}
.article__content {
    overflow: hidden;
    transition: .3s;
    line-height: 24px;
}
.article__content .short {
    height: 110px;
}
.blog__content {
    transition: .3s;
}
.blog__content.showall {
    height: auto;
}
.article__content h1 {
    font-size: 25px;
    margin-bottom: 12px;
    color: var(--mainColor);
}
.bg-article {
    cursor: pointer;
    background: linear-gradient(to bottom,rgba(255 255 255/0),rgba(24 39 63/62.5),rgba(24 39 63/1));
    bottom: -22px;
    height: 105px;
    left: 0;
    position: absolute;
    width: 100%;
    margin-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}