.posts-list100 .col {
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

.posts-list25 .col {
    max-width: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
}

.posts-list33 .col {
    max-width: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
}