.global-profile-menu .user-profile-menu .sub-menu {
    display: unset;
}
.global-profile-menu .user-profile-menu .sub-menu li{
    padding-left: 12px;
}
.global-profile-menu .user-profile-menu li a:before {
    content: unset;
}
.global-profile-menu .user-profile-menu li {
    font-size: 16px;
    font-weight: 700;
}
.global-profile-menu .user-profile-menu li a{
    text-decoration: none;
}

.global-profile-menu .user-profile-menu li a {
    padding: 5px;
    font-size: 12px;
    color: unset;
    display: block;
}

.global-profile-menu li a:hover{
    border-radius: 4px;
    background: rgba(77, 77, 0,0.5);
}

.global-profile-menu .active-menu-item {
    border-radius: 4px;
    background: var(--mainColorOpacity);
}
.form-control {
    font-size: 14px;
}
.fz-14 {
    font-size: 14px;
}