:root {
    --default-bg: #0160ae;
    --main-bg: #262626;
    --default2-bg: #1a1a1a;
    --sub-bg: #1a1a1a;
    --div-bg: #ffffff;
    --main-color: #000000;
    --default-color: #000000;
    --default2-color: red;
    --sub-color: red;
    --first-index: 1; /* Chỉ mục đầu tiên */
    --increment: 4; /* Số bước tăng */
    --mainColor:#ffff00;
}

/* Merriweather Regular */
@font-face {
    font-family: "Merriweather";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("font/Merriweather/Merriweather-Bold.ttf");
}
@font-face {
    font-family: "SF Pro Display";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("font/sf-pro-display/SFPRODISPLAYREGULAR.OTF");
}
@font-face {
    font-family: "SF Pro Text";
    /*font-weight: 400;*/
    /*font-style: normal;*/
    /*font-display: swap;*/
    src: url("font/SF_Pro_Text/SF-Pro-Text-Regular.otf");
}

body {
    color: #222;
}
.select2,.select2-results__option {
    color: #212529;
}

/**

 */


.top-search {
}

/* css header  */
#wgr__top .topHeader {
    padding: 8.5px 0;
    border-bottom: 1px solid #e5e5e5;
}

#wgr__top .col {
    padding: 0 12px !important;
}

.top1-menu:before {
    content: "";
    width: 1px;
    height: 22px;
    background: #e5e5e5;
    position: absolute;
    left: -10px;
}

.inputSearch {
    padding-left: 30px;
    border-radius: 32px;
    border: 1px solid #e5e5e5;
    width: 100%;
}

.btnSearch {
    background: none;
    border: none;
    position: absolute;
    left: 0;
    top: 0;
    color: #bdbdbd;
}

.btnSearch:hover {
    background: none;
    border: none;
    transform: scale(1.2);
    color: #bdbdbd;
}

/* */
/*header .top-user-menu .eb-sub-menu {*/
/*    display: inline-block;*/
/*}*/

header .top-user-menu {
    text-align: right;
}

header .top-user-menu span {
    color: #3c763d;
}

header .top-user-menu ul {
    margin: 0;
}

header .top-user-menu li {
    display: inline-block;
}

header .top-user-menu a {
    display: block;
    /*padding-left: 20px;*/
}

header .top-user-menu a:hover {
    text-decoration: underline;
}

header .top-user-menu .sub-menu {
    display: none !important;
}

/* */
.main-menu {
    border-top: 1px #ccc solid;
}

header .main-menu {
}

.main-more-menu .taxonomy-count,
header .main-menu .taxonomy-count {
    display: none;
}

.main-more-menu ul,
header .main-menu ul {
    margin: 0;
}

.footer1-menu li,
.main-more-menu li,
header .main-menu li {
    float: left;
    margin: 0;
}

.footer2-menu li a,
.footer1-menu li a,
.main-more-menu li a,
header .main-menu li a,
.main-menu .main-menu-viewmore span {
    display: block;
    font-weight: 400;
    padding: 0 10px;
    color: #222;
    font-size: 15px;
    line-height: 30px;
    transition-duration: 200ms;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-timing-function: cubic-bezier(.7, 1, .7, 1);
    transition-timing-function: cubic-bezier(.7, 1, .7, 1);
    border-bottom: 2px solid transparent;
}

.main-menu .main-menu-viewmore span,
header .main-menu li a {
    padding-top: 8.5px;
    padding-bottom: 8.5px;
    transition: color 0.3s;
}

.main-more-menu li a:hover,
header .main-menu li a:hover {
    /*color:red*/
    /*color: rgb(random(), random(), random()) !important;*/
}

.main-more-menu .sub-menu,
header .main-menu .sub-menu {
    display: none;
    position: absolute;
    min-width: 220px;
    z-index: 9;
    background: #0667ac;
    box-shadow: 0 0 5px #ccc;
    border-top: 1px solid #04416d;
}

.main-more-menu li:hover .sub-menu,
header .main-menu li:hover .sub-menu {
    display: block;
    animation: slideUp 0.2s cubic-bezier(.7, 1, .7, 1);

}

/* mobile in footer */
.main-more-menu .sub-menu li,
header .main-menu .sub-menu li {
    float: none;
    width: auto;
}

.main-more-menu .sub-menu a,
header .main-menu .sub-menu a {
    font-weight: normal;
}

header .main-menu .sub-menu a {
    padding-top: 0;
    padding-bottom: 0;
}

.footer1-menu .sub-menu,
.main-more-menu .sub-menu .sub-menu,
header .main-menu .sub-menu .sub-menu {
    display: none !important;
}

.main-menu .main-menu-viewmore {
    float: right;
}

.main-menu .main-menu-viewmore span {
    cursor: pointer;
    font-weight: normal;
}

/* */
.main-more-menu {
    display: none;
}

body.main-viewmore-actived .main-more-menu {
    display: block;
}

.main-more-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*.main-more-menu li {*/
/*    width: 16.66%;*/
/*}*/

.main-more-menu a {
}

.main-more-menu a:hover {
}

.main-more-menu .sub-menu {
}

.main-more-menu li:hover .sub-menu {
}

/* mobile in footer */
.main-more-menu .sub-menu li {
}

.main-more-menu .sub-menu a {
}

.main-more-menu .sub-menu .sub-menu {
}

/* */
.top1-menu {
    position: relative;
    z-index: 9;
}

.top1-menu ul {
    position: absolute;
    background: white;
    z-index: 1;
    width: 300%;
    box-shadow: 0 0 5px #ccc;
    border: 1px #ccc solid;
    padding: 7px;
    display: none;
}

.top1-menu:hover ul {
    display: block;
}

.top1-menu li {
    float: left;
}

.top1-menu li a {
    display: block;
    background-color: #ff3333;
    color: white;
    font-weight: bold;
    margin: 3px;
    padding: 2px 5px;
    border-radius: 3px;
}

.top1-menu li.label-success a {
    background-color: #5cb85c;
}

.top1-menu li.label-info a {
    background-color: #5bc0de;
}

.top1-menu li.label-primary a {
    background-color: #337ab7;
}

.top1-menu li a:hover {
    text-decoration: underline;
}

.top1-menu .sub-menu,
.top1-menu .taxonomy-count {
    display: none !important;
}

li.item_dsp_row {
    border-bottom: 5px solid #ff3333;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
    height: 1px;
}

/* */
.footer-top-menu {
    background-color: #e6e7e9;
    padding: 5px 0;
}

.global-post-module {
    position: relative;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #f2f2f2;
    z-index: 1;
}

.more_post .col-inner {
    position: sticky;
    top: 70px;
    height: 90vh;
    overflow-y: auto; /* Hiển thị thanh cuộn khi active */
}

/* Thiết lập kích thước của "thumb" */
.more_post .col-inner::-webkit-scrollbar {
    width: 5px;
}

.more_post .col-inner::-webkit-scrollbar-track {
    background: transparent
}

.more_post .col-inner::-webkit-scrollbar-thumb {
    background: #bfbfbf;
    border-radius: 5px
}

.more_post .col-inner::-webkit-scrollbar-thumb:hover {
    background: #bfbfbf;
}

/*.more_post {*/
/*   */
/*}*/
.sticky-item {
    position: fixed;
    top: 100px;
    width: 100%;
    background: #fff;
    z-index: 1;
    right: 0;
}

.bborder {
    transition: all 0.3s ease;
}

.footer2-menu {
}

.footer2-menu ul {
    text-align: left;
}


.footer2-menu li a {
    font-weight: normal;
}

.footer2-menu li:nth-child(4n - 3) a {
    font-weight: bold;
}

.footer2-menu .sub-menu {
    display: none;
}

/* */
.global-footer-copyright {
    background-color: #3e3e3f;
    padding: 15px 0;
    color: #fff;
}

/* */

/*.section-footer-center .col-inner {*/
/*    padding: 15px;*/
/*}*/

#wgr__footer .web-logo {
    background-position: left;
}

/* css bai viet cụ thể */
.post_section {
    border: 1px solid #bfbfbf;
    border-radius: 6px;
    padding: 20px 20px;
    margin: 20px 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.global-post-module .more_post .posts-list-info {
    display: none;
}

/*.global-post-module .more_post {*/
/*    transition: transform 0.3s ease;*/
/*}*/
.line__item {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #0033cc 0%, #ffffcc 100%);
    position: relative;
    overflow: hidden;
    margin: 20px 0;
}

.line__item:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #0033cc 0%, #ffffcc 100%);
    animation: slide 5s ease-in infinite; /* Tạo hiệu ứng chạy trong 4 giây vô hạn */
    z-index: 2; /* Đặt phía sau dòng kẻ chạy */
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}


/*.global-post-module .comment_block {*/
/*    border-top: 5px solid #ff9800;*/
/*    */
/*}*/
@keyframes flashing {
    0% {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    100% {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    }
}

/*css mục lục trong chi tiết bài viết*/
.global-post-module .menu__top {
    margin-bottom: 16px;
}

.global-post-module .menu__top .title__menu-flash, .global-post-module .other-post-title {
    text-align: center;
    font-size: 16px;
    font-family: "Merriweather", serif;
    padding: 12px;
    color: #0033cc;
}

.section__comment-small {
    padding-left: 30px;
    position: relative;
    cursor: pointer;
    margin-bottom: 16px;
    padding-top: 3px;
    margin-left: 4px;
}

.section__comment-small .comment_title-small {
    font-size: 14px;
    font-family: "Merriweather", serif;
    align-items: center;
    display: flex;
}

.section__comment-small .comment_title-small a {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.global-post-module .badged_small-menu {
    top: 0;
    left: 0;
    position: absolute;
    width: 21px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    font-size: 13px;
    background: #0091ea;
    color: #FFF;
    font-weight: bold;
    border: 1px solid #FFF; /* Màu nền cho border ngoài */
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);*/
    /*animation: flashing 1s infinite alternate; !* Thực hiện animation *!*/
}

.global-post-module .badged_small-menu:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    top: -5px; /* Điều chỉnh vị trí border trong */
    left: -5px; /* Điều chỉnh vị trí border trong */
    right: -5px; /* Điều chỉnh vị trí border trong */
    bottom: -5px; /* Điều chỉnh vị trí border trong */
    border: 2px solid #BFBFBF; /* Màu cho border trong */
}


.global-post-module .top-menu-space10 {
    padding-top: 10px;
}

.global-post-module .media-body {
    padding: 10px;
}

.posts-home-top .posts-list-info {
    font-size: 15px;
}

/* */


.row__top-20 {
    padding-top: 20px;
}

/* */
/* */
/* */
/* */
/* */
/* desktop only */

.main_nav .cf li a.active-menu-item {
    border-bottom: 2px solid var(--mainColor);
}

.main_nav .cf li a:hover, .main-more-menu li a:hover, .main-menu-viewmore:hover {
    color: var(--default-bg);
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

#post_same_cat .ty-le-h1, .category__main .right-home-top .ty-le-h1 {
    padding-top: 66.77%;
    border-radius: 6px;
}

.parent_name {
    font-size: 18px;
    font-family: "Merriweather", serif;
    font-weight: bold;
    border-bottom: 1px solid var(--mainColor);
    color: #222;
    text-decoration: none;
}

.parent_name:hover {
    color: var(--mainColor);
}

.child_name {
    margin-left: 16px;
    font-size: 13px;
    color: #4f4f4f;
    line-height: 1.1538461538;
    font-family: arial;
    font-weight: 400;
    margin-top: 8px;
}

.title-category {
    margin-bottom: 12px;
}

.hidden__img .posts-list-left {
    display: none;
}

.hidden__description .posts-list-info {
    display: none;
}

.border__element:after {
    content: "";
    width: 1px;
    height: 100%;
    background: #e5e5e5;
    position: absolute;
    top: 0;
    right: 0;
}

.category_group {
    margin-bottom: 15px;
}

.col, .gallery-item, .columns {
    padding: 0 15px 15px;
}

/* css div tag*/
.tag_element i {
    margin-right: 10px;
}

.tag_element {
    margin-bottom: 12px;
}

/*.tag_element {*/
/*    font-size: 22px;*/
/*}*/
.tag_element a {
    background-color: #757575 !important;
    border-radius: 2px;
    font-size: 16px;
    font-weight: unset;
    padding: 2px 4px;
    margin-right: 6px;
}

.tag_element a:hover {
    background-color: #b3b300 !important;
    color: #fff;
}

.posts-list100 .col {
    max-width: 100%;
    flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
}

.posts-list25 .col {
    max-width: 25%;
    flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
}

.posts-list33 .col {
    max-width: 33.33%;
    flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
}

.row__margin-x-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}


.border__custom {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
}

/*.posts-home-middle .posts-list-avt {*/
/*    background-size: contain;*/
/*    background-position: top;*/
/*}*/
.pb-0 {
    padding-bottom: 0;
}

.posts-home-middle-right {
    padding-bottom: 0;
}

.posts-home-middle-right .posts-list-time, .posts-home-middle .posts-list-time {
    display: none;
}

.row__li-item .posts-list-title:before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ababab;
    display: block;
    position: absolute;
    left: -15px;
    top: 8px;
}

.line__three .line__item-vertical .posts-list-title:before {
    content: '➤'; /* Biểu tượng mũi tên */
    display: block;
    position: absolute;
    left: -15px;
    color: #ff3333;
}

.line__three .line__top .posts-list-title h3 {
    font-size: 20px;
}

.line__three .line__top .posts-list-desc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
}


.global-a-posi .posts-list-title {
    /*color: initial; !* Đặt màu mặc định *!*/
    transition: color 0.2s ease-in-out; /* Thêm hiệu ứng transition */
}

.global-a-posi:hover .posts-list-title {
    color: var(--mainColor) !important;
}

.title__more {
    font-family: "Merriweather", serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.post-details-title {
    font-size: 35px;
    font-family: "Merriweather", serif;
    padding-bottom: 8px;
}

/* css cho dòng nút chia sẻ*/
.more__information-post {
    display: flex;
    flex-direction: row-reverse;
}

.more__information-post .item__eye {
    margin-right: 10px;
}

/* css view comment - chi tiết 1 top trong bài viết */
.comment_view .page-details-title {
    font-family: "Merriweather", serif;
    font-size: 24px;
    padding: 16px 0;
}

/* css 3 nút facebook youtube tiktok ở header*/
.top-login-menu li:nth-child(1) a img, .top-login-menu li:nth-child(2) a img, .top-login-menu li:nth-child(3) a img {
    width: 50px;
    margin-right: 4px;
}

/* css 2 nút viết bài + login*/
.top-login-menu li:nth-child(4) a img, .top-login-menu li:nth-child(5) a img, .top-profile-menu li:nth-child(1) a img {
    width: 20px;
    margin-right: 6px;
}

.top-login-menu li:nth-child(4) a img {
    margin-left: 30px;
}

.top-login-menu li:nth-child(5) a img {
    margin-left: 12px;
}

header .top-user-menu .eb-sub-menu {
    display: flex;
    align-items: center;
}

/*box xem nhiều */
.box-xemnhieu .title-box-category {
    padding-bottom: 0;
    color: #757575;
}

.box-xemnhieu {
    padding-bottom: 32px;
    margin-bottom: 16px;
    border-bottom: 1px solid #e5e5e5;
}

.box-xemnhieu .title-box-category {
    display: block;
    position: relative;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 12px;
    font-family: "Merriweather", serif;
    color: #222;
    font-weight: bold;
}

.box-xemnhieu .title-box-category .parent-cate {
    color: #222;
}

.box-xemnhieu .list-top-view {
    position: relative;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: flex;
}

.box-xemnhieu .list-top-view:before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    background: #e5e5e5;
}

.box-xemnhieu .list-top-view .item-news {
    position: relative;
    padding-left: 45px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    width: 50%;
    border-bottom: 1px solid #e5e5e5;
}

.box-xemnhieu .list-top-view .number-top-view {
    font-family: "Merriweather", serif;
    font-size: 48px;
    color: var(--mainColor);
    font-weight: bold;
    position: absolute;
    top: -8px;
    left: 0;
    -webkit-font-feature-settings: "pnum" on, "lnum" on;
    font-feature-settings: "pnum" on, "lnum" on;
}

.item-news .title-news a {
    font-family: "Merriweather", serif;
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 4px;
    color: inherit;
}

.item-news .title-news a:hover {
    color:var(--mainColor);
}

.item-news .title-news span {
    font-size: 13px;
}

.box-xemnhieu .list-top-view .item-news:nth-child(5) {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    padding-left: 65px;
    padding-right: 0;
}

.box-xemnhieu .list-top-view .item-news:nth-child(6) {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    padding-left: 65px;
    padding-right: 0;
}

.box-xemnhieu .list-top-view .item-news:nth-child(7) {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
    padding-left: 65px;
    padding-right: 0;
}

.box-xemnhieu .list-top-view .item-news:nth-child(8) {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8;
    padding-left: 65px;
    padding-right: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.box-xemnhieu .list-top-view .item-news:nth-child(4) {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.box-xemnhieu .list-top-view .item-news:nth-child(3) {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
}

.box-xemnhieu .list-top-view .item-news:nth-child(2) {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}

.box-xemnhieu .list-top-view .item-news:nth-child(1) {
    /* -webkit-box-ordinal-group: 2; */
    -ms-flex-order: 1;
    order: 1;
}

.box-xemnhieu .list-top-view .item-news:nth-child(5) .number-top-view,
.box-xemnhieu .list-top-view .item-news:nth-child(6) .number-top-view,
.box-xemnhieu .list-top-view .item-news:nth-child(7) .number-top-view,
.box-xemnhieu .list-top-view .item-news:nth-child(8) .number-top-view {
    left: 20px;
}

.first__slider .eb-widget-title, .second__slider .eb-widget-title, .thirst__slider .eb-widget-title {
    display: none;
}

.first__slider .eb-blog-left, .second__slider .eb-blog-left {
    height: 150px;
}

.first__slider .eb-blog-avt, .second__slider .eb-blog-avt {
    background-size: 100% 150px;
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 150px;
}

.thirst__slider .eb-blog-avt {
    background-size: 100% 200px;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 200px;
}

.thirst__slider .eb-blog-left {
    height: 200px;
}

.category__main .item__more-category {
    display: block;
    font-family: "Merriweather", serif;
    font-weight: 100;
    color: #222;
    padding: 16px 0;
    border-bottom: 1px solid #e5e5e5;
}

.category__main .item__more-category span {
    color: blue;
    font-weight: bold;
}

@media only screen and (min-width: 748px) {
    .section__comment {
        position: relative;
        padding: 16px 0 16px 80px;
    }

    .global-post-module .comment_block {
        padding: 40px 20px;
        border: solid #ff3333;
        border-width: 4px 3px 3px 4px;
        border-radius: 25% 4% 27% 5%/4% 24% 3% 25%;
        margin-bottom: 30px;
        /*transform: rotate(-2deg);*/
    }

    .section__comment .comment_title {
        font-size: 30px;
        font-family: "Merriweather", serif;
        align-items: center;
        display: flex;
    }

    .global-post-module .badged_small {
        position: absolute;
        left: 0;
        width: 60px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
        margin-right: 16px;
        font-size: 38px;
        background: #0091ea;
        color: #FFF;
        font-weight: bold;
        border: 1px solid #FFF; /* Màu nền cho border ngoài */
        /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);*/
        /*animation: flashing 1s infinite alternate; !* Thực hiện animation *!*/
    }

    .global-post-module .badged_small:before {
        content: "";
        position: absolute;
        border-radius: 50%;
        top: -5px; /* Điều chỉnh vị trí border trong */
        left: -5px; /* Điều chỉnh vị trí border trong */
        right: -5px; /* Điều chỉnh vị trí border trong */
        bottom: -5px; /* Điều chỉnh vị trí border trong */
        border: 2px solid #BFBFBF; /* Màu cho border trong */
    }

    .footer2-menu li {
        float: left;
        width: 25%;
    }

    /* css dong bai viet 5*/
    .line__five .element__3 .posts-list-info, .line__five .element__2 .posts-list-info {
        display: none;
    }

    .line__five .element__1 .posts-list-title h3 {
        font-size: 24px;
        font-weight: normal;
        font-family: "Merriweather", serif;
        line-height: 160%;
        padding-top: 10px;
    }

    .line__five .element__2 .posts-list-title h3 {
        padding-top: 10px;
    }

    .line__five .element__3 .cf {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .line__five .element__3 .posts-list-title h3 {
        padding-left: 0;
        padding-right: 10px;
    }

    .line__five .element__3 .global-a-posi {
        padding-bottom: 18px;
    }

    .line__five .element__1 .posts-list-avt {
        /*background-size: 100% 300px;*/
        /*background-repeat: no-repeat;*/
        /*background-position: top;*/
        padding-top: 300px;
    }

    .line__five .element__2 .posts-list-avt {
        /*background-size: 100% 150px;*/
        /*background-repeat: no-repeat;*/
        /*background-position: top;*/
        padding-top: 150px;
    }

    .category_group .row__margin-x-0 {
        border-top: 1px solid #e5e5e5;
        padding-top: 15px;
        margin-top: 15px;
    }

    .home__view .ty-le-h1 {
        padding-top: 66.77%;
    }

    .ty-le-h1 {
        margin-top: 4px;
    }

    .anhtren_chuduoi.text_only .posts-list-left {
        display: none;
    }

    /* css menu tất cả*/
    .menu__all {
        animation: slideUp 0.3s cubic-bezier(.7, 1, .7, 1);
        display: none;
        background: #f7f7f7;
        z-index: 99999;
        transition-duration: 200ms;
        -webkit-transition-property: opacity, top, visible;
        transition-property: opacity, top, visible;
        -webkit-transition-timing-function: cubic-bezier(.7, 1, .7, 1);
        transition-timing-function: cubic-bezier(.7, 1, .7, 1);
        -webkit-transition-duration: 200ms;
    }

    .menu__all .menu__content .parent-menu {
        margin-top: 10px;
        float: left;
        width: 25%;
        list-style: none;
        height: 220px;
        margin-bottom: 10px;
        border-bottom: 1px solid #ff3333;
    }

    .menu__all .close-menu {
        float: right;
        color: #076db6;
    }

    .menu__all .title {
        font-size: 18px;
        line-height: 23px;
        color: #4f4f4f;
        display: inline-block;
        font-family: "Merriweather", serif;
        font-weight: 900;
        width: 100%;
        float: left;
        border-bottom: 1px solid #bdbdbd;
        padding: 13px 0;
    }

    .menu__all .menu__content {
        margin: 20px 0;
    }

    .menu__all .menu__content li .taxonomy-count {
        display: none;
    }

    .menu__all .menu__content .parent-menu a {
        color: #9f224e;
        font-size: 16px;
        font-weight: bold;
    }

    .menu__all .menu__content .childs-menu a {
        padding: 7.5px 0;
        display: inline-block;
        font-size: 14px;
        color: inherit;
        font-weight: normal;
        margin-left: 12px;
    }

    /* css danh muc bai viet*/
    .global-taxonomy-title {
        font-family: "Merriweather", serif;
    }

    #term_main .global-a-posi {
        padding-bottom: 16px;
        border-bottom: 1px solid #e5e5e5;
    }

    #term_main .first__category .posts-list-left {
        width: 70%;
    }

    #term_main .first__category .posts-list-right {
        width: 30%;
    }

    #term_main .first__category {
        padding: 0;
    }

    #term_main .first__category .posts-list-title h3 {
        font-size: 20px;
    }

    #term_main .first__category .posts-list-avt {
        /*background-size: 100% 300px;*/
        /*background-repeat: no-repeat;*/
        /*background-position: top;*/
        padding-top: 300px;
        margin-top: 0;
    }

    #term_main .posts-list-avt {
        /*background-size: 100% 150px;*/
        /*background-repeat: no-repeat;*/
        /*background-position: top;*/
        padding-top: 150px;
        margin-top: 0;
    }


    /* end*/
    .posts-home-middle .posts-list-left {
        width: 50%;
    }

    .posts-home-middle .posts-list-right {
        width: 50%;
    }

    .posts-home-middle .posts-list-left {
        height: 150px;
    }

    .posts-home-middle .posts-list-desc {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5; /* number of lines to show */
        line-clamp: 5;
        -webkit-box-orient: vertical;
    }

    .posts-home-middle .posts-list-avt {
        /*background-size: 100% 150px;*/
        /*background-repeat: no-repeat;*/
        /*background-position: top;*/
        padding-top: 150px;
    }

    .main_nav .cf li:nth-child(1) a .fa-home {
        color: #757575;
        font-size: 20px;
        width: 26px;
        height: 26px;
        background: #e5e5e5;
        padding: 2px 4px 6px;
        border-radius: 50%;
    }

    .main_nav .cf li:nth-child(1) a:hover .fa-home {
        color: var(--default-bg);
    }

    #post_same_cat .posts-list-left,
    #category_main .posts-list-left {
        width: 20%;
    }

    #post_same_cat .posts-list-right,
    #category_main .posts-list-right {
        width: 80%;
    }

    /* */
    .posts-home-top .posts-list-left {
        width: 70%;
    }

    .posts-home-top .posts-list-right {
        width: 30%;
    }

    .right-home-top .posts-list-left {
        width: 20%;
    }

    .right-home-top .posts-list-right {
        width: 80%;
    }

    .right-home-top .posts-list-left .posts-list-avt {
        border-radius: 6px;
    }

    .right-home-top .posts-list-right .posts-list-desc {
        display: none;
    }

    .right-home-top .hide-if-gia-zero {
        padding-bottom: 0;
    }

    .left_under .posts-list-title {
        padding-left: 0;
    }

    .left_under .global-a-posi {
        padding: 0 15px 15px;
    }

    .left_under .posts-list-left {
        width: 45%;
    }

    .left_under .posts-list-right {
        width: 55%;
    }

    /*.left_under .posts-list-left {*/
    /*    height: 105px;*/
    /*}*/

    /*.left_under .posts-list-avt {*/
    /*    background-size: 100% 100px;*/
    /*    background-repeat: no-repeat;*/
    /*    background-position: top;*/
    /*}*/

    .left_under .posts-list-desc {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5; /* number of lines to show */
        line-clamp: 5;
        -webkit-box-orient: vertical;
    }


    /* css footer */
    .section-footer-center {
        padding: 40px 0 20px;
        border-top: 4px solid #e6e6e6;
    }

    .section-footer-center .logo__footer {
        /*display: flex;*/
        /*align-items: center;*/
        /*justify-content: center;*/
        padding-top: 30px;
        margin-right: 10px;
    }

    .section-footer-center-line2 {
        padding: 0;
        border-top: unset;
    }

    .section-footer-center .text-footer {
        margin-bottom: 0;
        font-size: 13px;
        line-height: 30px;
    }

    .section-footer-center .item__top-footer {
        display: flex;
        justify-content: space-around;
    }

    .section-footer-center .item__top-footer a {

    }

    .section-footer-center .item__top-footer .first__top {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-footer-center .item__top-footer .content__phone .number__phone {
        font-weight: bold;
        font-size: 16px;
        font-family: "Merriweather", serif;
    }

    .section-footer-center .item__top-footer .item__phone {
        background-image: url("../../upload/2023/08/phone_3.png");
    }

    .section-footer-center .item__top-footer .item__facebook {
        background-image: url("../../upload/2023/08/facebook-bot-thumbnail.png");
        display: inline-block;
    }

    .section-footer-center .item__top-footer .item__youtube {
        background-image: url("../../upload/2023/08/youtube-bot-thumbnail.png");
        display: inline-block;
    }

    .section-footer-center .item__top-footer .item__tiktok {
        display: inline-block;
        background-image: url("../../upload/2023/08/tiktok-bot-thumbnail.png");
    }

    .section-footer-center .item__top-footer a {
        width: 35px;
        height: 35px;
        background-size: cover;
        border-radius: 50%;
        margin-right: 16px;
        transition: box-shadow 0.3s ease-in-out, transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); /* Thêm cubic-bezier easing vào đây */
    }

    .section-footer-center .item__top-footer a:hover {
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        transform: scale(1.02);
    }

    .second__top {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .section-footer-center .item__bottom-footer {
        display: flex;
        text-align: center;
    }

    .section-footer-center .item__bottom-footer a {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
        border-radius: 4px;
        font-weight: 600;
        flex: 1;
        padding: 4px 0;
        transition: box-shadow 0.3s ease-in-out, transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); /* Thêm cubic-bezier easing vào đây */
    }

    .section-footer-center .item__bottom-footer a:hover {
        transform: scale(1.02);
        color: #fff;
    }

    .banquyen {
        background-color: #999999;
        color: #fff;
        margin-right: 40px;
    }

    .huongdan {
        background-color: #b3b3b3;
        color: #fff;
    }

    .baogia {
        background-color: #ff3333;
        color: #fff;
    }
}

/* mobile, table only */
@media only screen and (max-width: 788px) {

    /* css menu */
    #mobileMenuModal .content__menu-mobile .parent-menu {
        margin-top: 10px;
        float: left;
        width: 50%;
        list-style: none;
        height: 220px;
        margin-bottom: 10px;
        border-bottom: 1px solid #ff3333;
    }


    #mobileMenuModal .content__menu-mobile .parent-menu a {
        color: #9f224e;
        font-size: 16px;
        font-weight: bold;
    }

    #mobileMenuModal .content__menu-mobile .taxonomy-count {
        display: none;
    }

    #mobileMenuModal .content__menu-mobile .childs-menu a {
        padding: 7.5px 0;
        display: inline-block;
        font-size: 14px;
        color: inherit;
        font-weight: normal;
        margin-left: 12px;
    }

    #mobileMenuModal .eb-sub-menu {
        clear: both;
    }

    #mobileMenuModal .eb-sub-menu li:nth-child(1) a img {
        width: 18px;
    }

    #mobileMenuModal .modal-dialog {
        margin: 0;
    }

    #mobileMenuModal .modal-content {
        border: unset;
        border-radius: unset;
    }

    #wgr__top .mobile_user .user__mobile {
        background-image: url("../../upload/2023/08/dang-nhap-medium.png");
        width: 25px;
        height: 25px;
        background-size: contain;
    }

    #wgr__top .mobile_user {
        display: flex;
        justify-content: end;
        align-items: end;
    }

    #wgr__top .mobile-menu {
        height: 48px;
        background: #fff;
        border-bottom: 1px solid #e7e7e7;
        transition-duration: 350ms;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
        padding: 0;
        z-index: 1001;
    }

    #wgr__top .modal-header .web-logo {
        width: 100%;
    }

    #wgr__top .modal-header {
        padding: 4px 1rem;
    }

    #wgr__top .modal-header .btn-close {
        font-size: 16px;
    }

    /* css các bài viết trang chủ*/
    .posts-list33 .col {
        max-width: 100%;
        flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
    }

    .global-a-posi, .global-position-relative {
        padding-bottom: 12px;
        border-bottom: 1px solid #e5e5e5;
    }

    .hide__if-mobile {
        display: none;
    }

    .home__view .ty-le-h1, .category_group .ty-le-h1, .line__five .ty-le-h1, .category__main .ty-le-h1 {
        margin-top: 4px;
        padding-top: 50%;
    }

    .row__li-item .posts-list-title {
        padding-top: 0;
    }

    /* css footer */
    .section-footer-center {
        background-color: #fff;
        padding: 0;
        border-top: 4px solid #dce31e;
    }

    .section-footer-center .logo__footer {
        /*display: flex;*/
        /*align-items: center;*/
        /*justify-content: center;*/
        padding-top: 30px;
        margin-right: 10px;
    }

    .section-footer-center-line2 {
        background-color: #fff;
        padding: 0;
        border-top: unset;
    }

    .section-footer-center .text-footer {
        margin-bottom: 0;
        font-size: 13px;
        line-height: 30px;
        margin-left: 12px;
    }

    .section-footer-center .item__top-footer {
        display: flex;
        justify-content: space-around;
    }

    .section-footer-center .item__top-footer a {

    }

    .section-footer-center .item__top-footer .first__top {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section-footer-center .item__top-footer .content__phone .number__phone {
        font-weight: bold;
        font-size: 16px;
        font-family: "Merriweather", serif;
    }

    .section-footer-center .item__top-footer .item__phone {
        background-image: url("../../upload/2023/08/phone_3.png");
    }

    .section-footer-center .item__top-footer .item__facebook {
        background-image: url("../../upload/2023/08/facebook-bot-thumbnail.png");
        display: inline-block;
    }

    .section-footer-center .item__top-footer .item__youtube {
        background-image: url("../../upload/2023/08/youtube-bot-thumbnail.png");
        display: inline-block;
    }

    .section-footer-center .item__top-footer .item__tiktok {
        display: inline-block;
        background-image: url("../../upload/2023/08/tiktok-bot-thumbnail.png");
    }

    .section-footer-center .item__top-footer a {
        width: 35px;
        height: 35px;
        background-size: cover;
        border-radius: 50%;
        margin-right: 16px;
        transition: box-shadow 0.3s ease-in-out, transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); /* Thêm cubic-bezier easing vào đây */
    }

    .section-footer-center .item__top-footer a:hover {
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        transform: scale(1.02);
    }

    .second__top {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .section-footer-center .item__bottom-footer {
        display: flex;
        text-align: center;
    }

    .section-footer-center .item__bottom-footer a {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
        border-radius: 4px;
        font-weight: 600;
        flex: 1;
        padding: 4px 0;
        transition: box-shadow 0.3s ease-in-out, transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); /* Thêm cubic-bezier easing vào đây */
    }

    .section-footer-center .item__bottom-footer a:hover {
        transform: scale(1.02);
        color: #fff;
    }

    .banquyen {
        background-color: #999999;
        color: #fff;
        margin-right: 40px;
    }

    .huongdan {
        background-color: #b3b3b3;
        color: #fff;
    }

    .baogia {
        background-color: #ff3333;
        color: #fff;
    }

    .footer2-menu li {
        float: left;
        width: 50%;
    }

    .menu__footer-item {
        border-top: 1px solid #e5e5e5;
        padding: 12px 0;
    }

    .global-post-module .badged_small {
        position: absolute;
        left: 0;
        width: 40px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
        margin-right: 16px;
        font-size: 25px;
        background: #0091ea;
        color: #FFF;
        font-weight: bold;
        border: 1px solid #FFF; /* Màu nền cho border ngoài */
        /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);*/
        /*animation: flashing 1s infinite alternate; !* Thực hiện animation *!*/
    }

    .global-post-module .badged_small:before {
        content: "";
        position: absolute;
        border-radius: 50%;
        top: -5px; /* Điều chỉnh vị trí border trong */
        left: -5px; /* Điều chỉnh vị trí border trong */
        right: -5px; /* Điều chỉnh vị trí border trong */
        bottom: -5px; /* Điều chỉnh vị trí border trong */
        border: 2px solid #BFBFBF; /* Màu cho border trong */
    }

    .section__comment .comment_title {
        font-size: 20px;
        font-family: "Merriweather", serif;
        align-items: center;
        display: flex;
    }

    .global-post-module .comment_block {
        padding: 20px 20px;
        border: solid #ff3333;
        border-width: 4px 3px 3px 4px;
        border-radius: 25% 4% 27% 5%/4% 24% 3% 25%;
        margin-bottom: 30px;
        /*transform: rotate(-2deg);*/
    }

    .section__comment {
        position: relative;
        padding: 16px 0 30px 80px;
    }

    .tag_element {
        margin-left: 16px;
    }
}

/* medium size */
@media only screen and (max-width: 588px) {
}

/* mobile only */
@media only screen and (max-width: 395px) {
}